<div layout="row" ng-cloak>
    <div layout="vertical">
        <md-sidenav md-is-locked-open="true" class="lesson-plan-nav md-whiteframe-4dp">
            <md-list layout-fill>
                <md-list-item ng-repeat="plan in lpCtrl.lessonPlans">
                    <md-button ng-click="lpCtrl.selectPlan($index)" ng-class="{ 'selected' : plan === lpCtrl.selected }">// plan.title //</md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ng-click="lpCtrl.showCreatePlanDialog($event)">
                        Create a new lesson plan
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>
    </div>
    <div layout="row" layout-fill>
        <div id="content" layout-fill ng-if="lpCtrl.selected">
            <md-content ng-show="!lpCtrl.isEditing">
                <section layout="row" layout-sm="column" layout-wrap>
                    <h2>// lpCtrl.selected.title //</h2>
                    <md-button layout-align="center center" ng-click="lpCtrl.editLessonPlan()">Edit</md-button>
                    <md-button layout-align="center center" ng-click="lpCtrl.deleteLessonPlan()">Delete</md-button>
                </section>
                <p>// lpCtrl.selected.description //</p>
            </md-content>
            <form id="editLessonPlanForm" ng-show="lpCtrl.isEditing" layout-sm="column" layout-wrap>
                <section layout="row">
                    <input type="text" ng-model="lpCtrl.selected.title" ng-required/>
                    <md-button class="btn" type="submit" ng-click="lpCtrl.submitEditLessonPlan()">Save</md-button>
                    <md-button layout-align="center center" ng-click="lpCtrl.deleteLessonPlan()">Delete</md-button>
                </section>
                <input type="text" ng-model="lpCtrl.selected.description" ng-required/>
            </form>
            <section layout="row" layout="column">
                <md-list layout-fill>
                    <md-list-item ng-repeat="item in lpCtrl.lessonItems" class="md-3-line md-long-text">
                        <md-divider ></md-divider>
                        <div class="md-list-item-text">
                            <h3>// item.title //</h3>
                            <p>// item.content //</p>
                        </div>
                        <div>
                            <md-button ng-click="lpCtrl.deleteLessonItem(item.id)"><md-icon class="material-icons">delete</md-icon></md-button>
                        </div>
                    </md-list-item>
                    <md-list-item>
                        <md-button ng-click="lpCtrl.showCreateItemDialog($event)">Add lesson item</md-button>
                    </md-list-item>
                </md-list>
            </section>
        </div>
    </div>
</div>